@font-face {
  font-family: 'Suisse'; /* Name of the font */
  src: url('../fonts/SuisseIntlTrial-Regular.woff2') format('woff2');
  font-weight: normal; /* Optional: Specify weight */
  font-style: normal;  /* Optional: Specify style */
}